<div class="wrapper">
  <span class="icon">Резюме</span>
  <div class="container" style="display: flex; flex-direction: column; align-items: center;">

    <div style="display: flex; justify-content: center; gap: 12px; margin-bottom: 24px;">
      <button (click)="goHome()" style="
        padding: 10px 20px;
        min-width: 150px;
        height: 45px;
        border: none;
        border-radius: 30px;
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: background-color 0.3s ease;">
        🏠 На главную
      </button>

      <button (click)="logout()" style="
        padding: 10px 20px;
        min-width: 150px;
        height: 45px;
        border: none;
        border-radius: 30px;
        background-color: #f44336;
        color: white;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        transition: background-color 0.3s ease;">
        🚪 Выйти
      </button>
    </div>
  <div *ngIf="resumes.length > 0; else loading">
    <div *ngFor="let resume of resumes" class="resume">

      <h3 class="title">{{ resume.name }}</h3>

      <p class="resume-info"><strong>Возраст: </strong> {{resume.age}} </p>
      <p class="resume-info"> <strong>Опыт работы:</strong> {{resume.experience}} </p>
      <p class="resume-info"> <strong>Специальность:</strong> {{resume.speciality}} </p>
    </div>
  </div>
  <ng-template #loading>
    <p class="loading-message">Загрузка резюме...</p>
  </ng-template>
</div>
</div>
