<div class="wrapper">
  <span class="icon">Резюме</span>
  <div class="container">
  <div *ngIf="resumes.length > 0; else loading">
    <div *ngFor="let resume of resumes" class="resume">

      <h3 class="title">{{ resume.name }}</h3>

      <p class="resume-info"><strong>Возраст: </strong> {{resume.age}} </p>
      <p class="resume-info"> <strong>Опыт работы:</strong> {{resume.experience}} </p>
      <p class="resume-info"> <strong>Специальность:</strong> {{resume.speciality}} </p>
    </div>
  </div>
  <ng-template #loading>
    <p class="loading-message">Загрузка резюме...</p>
  </ng-template>
</div>
</div>
