<div class="wrapper">
  <h2 class="title"> Job Search</h2>
  <div class="protected-nav">
      <a routerLink="/vacancy" class="nav-button">📄 Вакансии</a>
      <a routerLink="/company" class="nav-button">🏢 Компании</a>
      <a routerLink="/resume" class="nav-button">👤 Резюме</a>
      <button (click)="logout()" style="background-color: #f44336; padding: 10px 20px; border-radius: 20px; border: none; font-weight: bold; color: white;">🚪 Выйти</button>
    </div>
    <p class="message" *ngIf="message">{{ message }}</p>  

    <div class="back"></div> 
    <div class="hero-section">
      <div class="hero-content">
        
        <h1>Найди работу мечты</h1>
        <div *ngIf="searchResults.length > 0" class="results" style="margin-top: 30px; text-align: center;">
          <h3>Результаты поиска:</h3>
        
          <div *ngFor="let item of searchResults" class="result-box">
            <p *ngIf="item.type === 'vacancy'">💼 <strong>{{ item.name }}</strong> — вакансия</p>
            <p *ngIf="item.type === 'company'">🏢 <strong>{{ item.name }}</strong> — компания</p>
          </div>
        </div>
        <div class="search-box" style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
          <input [(ngModel)]="searchQuery"
                 placeholder="Профессия, должность или компания"
                 style="width: 400px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;" />
        
          <button (click)="search()"
                  style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 8px;">
            Найти
          </button>
        </div>
        
        <a href="#" class="alt-link">Я ищу сотрудника</a>
        <div class="stats">
          <span>6 610 099 резюме</span>
          <span>48 750 вакансий</span>
          <span>126 100 компаний</span>
        </div>
    </div>
     </div>   
        
      </div>