.wrapper { 
  background-color: #dee8e7;
  display: flex;
  padding: 2rem 1rem;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  
} 

.title {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 15px;
  margin: 0;
  background-color: #657181;
  width: 100%;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
}

.message {
  text-align: center;
  font-weight: 500;;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: #1e293b;
  position: absolute;
  top: 60px;
}

.protected-nav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  z-index: 1;
}

.nav-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #989aeb;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #7873da;
  transform: translateY(-4px);
}

.back{
  background-image: url('https://t4.ftcdn.net/jpg/02/68/83/69/360_F_268836970_63JVQjZ1cqkEnZqlNwLoDhiSMWvGQiKM.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px; 
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 190px;
}


.hero-section {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 5rem 1rem;
  border-radius: 0.5rem;
  position: absolute;
}

.hero-content {
  height: 700px; 
  width: 1500px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  top: 160px;

}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  margin: 50px;
  border: none;
}

.search-box input {
  padding: 0.75rem;
  width: 60%;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
}

.search-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  font-weight: bold;
}

.alt-link {
  color: #ddd;
  display: block;
  margin-bottom: 1rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  color: #f3f4f6;
  font-size: 30px;
  margin-top: 100px;
  
}




