<div class="wrapper">
  <h2 class="icon">Компании</h2>
  <div class="container">
    <div *ngFor="let company of companies" class="company">
      
      <h3 class="title">{{ company.name }}</h3>

      <p class="company-info"><strong>Город:</strong> {{ company.city }}</p>
      <p class="company-info"><strong>Адрес:</strong> {{ company.address }}</p>
      <p class="company-info"><strong>Сфера:</strong> {{ company.field }}</p>
      <p class="company-info"><strong>Описание:</strong> {{ company.description }}</p>
    </div>
  </div>
</div>